body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000c34;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(255, 255, 255, 0.04);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur (7 px);
  -webkit-backdrop-filter: blur (7 px);
  border-radius: 10px;
  border: 0.5px solid darkslategray;
}

.box h1 {
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  height: 40px;
  color: #fff;
  background: none;
  display: block;
  font-size: 17px;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #3498db;
  width: 200px;
  outline: none;
  border-radius: 25px;
  transition: 0.25s;
}

::placeholder {
  color: rgba(0, 238, 255, 0.361);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(0, 238, 255);
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
  text-align: center;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  font-size: 18px;
  margin: 30px auto;
  text-align: center;
  border: 3px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #2ecc71;
}
